html,
body {
    margin: 0;
    padding: 0;
    background-color: #aaa;
}

main {
    max-width: 800px;
    min-height: 100vh;
    background-color: #eee;
    margin: 0 auto;
    padding-top: 10px;
}

.gameInfo {
    display: flex;
    margin: 0 20px 5vw 20px;
    flex-wrap: wrap;
}

.gameInfoElem {
    max-width: 100%;
    margin: 0 5px;
    white-space: nowrap;
    box-sizing: border-box;
}

span.gameValue,
input#bet,
input#updtMs,
button#saveGame,
button#deleteSave {
    font-weight: bold;
}

input#bet {
    width: 100px;
}

input#updtMs {
    width: 50px;
}

button#deleteSave {
    color: red;
}

.slot-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slot-num {
    width: 25%;
    aspect-ratio: 1 / 1;
    border: 1px solid #000;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16vw;
}

button.stop {
    width: 25%;
    aspect-ratio: 2 / 1;
    margin: 1px;
}

button.stsp {
    width: 25%;
    aspect-ratio: 2 / 1;
    margin-top: 10vw;
}

@media screen and (min-width: 800px) {
    .gameInfo {
        margin-bottom: 40px;
    }

    .slot-num {
        font-size: 128px;
    }

    button.stsp {
        margin-top: 80px;
    }
}

table {
    margin: 20px auto 0 auto;
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    min-width: 50px;
    border: 2px solid #000;
    text-align: right;
}

td {
    border: 1px solid #000;
    text-align: right;
}

code {
    background-color: #ccc;
    padding: 3px;
    border-radius: 3px;
}

p {
    margin-left: 20px;
}
