body {
    background-color: #ccc;
}

main {
    max-width: 800px;
    padding: 0 10px;
    margin: auto;
    background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0 0 0;
    padding-left: 6px;
    background-color: #ddd;
}

h1 {
    border-left: 10px solid #f22;
    border-bottom: 2px solid #f11;
}

h2 {
    border-left: 8px solid #2f2;
    border-bottom: 1px solid #1f1;
}

h3 {
    border-left: 6px solid #22f;
    border-bottom: 1px solid #11f;
}

h4 {
    border-left: 4px solid #2ff;
    border-bottom: 1px solid #1ff;
}

h5 {
    border-left: 3px solid #f2f;
    border-bottom: 1px solid #f1f;
}

h6 {
    border-left: 2px solid #ff2;
    border-bottom: 1px solid #ff1;
}

p {
    margin: 0;
    padding: 4px 0;
}

.spacer {
    height: 10px;
}

.caution {
    background-color: #ff02;
    border-left: 4px solid #ff4;
    padding: 10px;
    margin: 10px 0;
}

.caution-head {
    font-weight: bold;
    color: #fe3;
}

code {
    padding: 0 4px;
    background-color: #aaa;
    border-radius: 4px;
}

del {
    background-color: #f448;
    padding: 0 4px;
    border-radius: 4px;
}

ins {
    background-color: #4f48;
    padding: 0 4px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}
